.general-cont-contact {
    min-height: 100vh;
    background-color: var(--main-color);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content:center ;

    .diagonal-line {
        width: 250px;
        height: 2000px;
        background-color: var(--secondary-color);
        position: absolute;
        left: 23%;
        top: -20%;
        transform: rotate(-30deg);
    }

    .title {
        font-size: clamp(1.5rem, 5vw, 3rem);
        margin-top: 8rem;
        margin-bottom: 20px;
        font-weight: 600;
    }

 

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        margin-bottom: 20px;
        width: 500px;
        margin-top: 2rem;


        .row {
            display: flex;
            width: 100%;
            gap: 20px;
            margin-bottom: 1rem;
        }

        input {
            outline: none;
            border: none;
            border-bottom: 2px solid black;
            padding: 5px;
            // min-width: 250px;
            width: 100%;
            font-size: 18px;
        }

        textarea {
            width: 100%;
            font-size: 16px;
            min-height: 200px;
            padding: 10px;
            resize: none;
        }
    }
}

@media (max-width: 600px) {
    .general-cont-contact{
        form{
            width: 300px;
            .row{
                flex-direction: column;
            }
        }
    }
}