.general-cont-calendar{
    height: 100vh;
    margin: 2rem;

    .header{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        h1{
            font-size: clamp(1.5rem, 5vw, 3rem);
            font-weight: bold;
        }

    }
}

@media (max-width: 800px) {
    .general-cont-calendar{
        margin: 10px;
        margin-bottom: 2rem;
        .header{
            h1{
                font-size: 2rem;
            }
        }
    }
}